@import url(https://fonts.googleapis.com/css?family=Noto+Naskh+Arabic);
*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Naskh Arabic', serif;
}

html{
    overflow-x: hidden;
}

/* nav bar */

.white{
    background-color: white;
}

.buttons{
    background-color: #ffb81fb0;
    color: black;
}

.titles{
    font-size:2.5rem;
}

.content{
    font-size: 1.5rem;
}

.grey-area{
    background-color:#86BBD840;
}

.about-titles{
    font-size: 3rem;
}

.about-content{
    font-size: 1.5rem;
}


